.vidPics {

	width: 560px;
	height: 315px;
}

.videoFile {

	float: left;
}

.video-title{

	font-size: 15px;
	font-weight: bold;
}

.wiki-title{
	
	font-size: 30px;
	font-weight: bold;

}

#youtubeVideos, #ticketContent {

	height: 400px;
	overflow: auto;
}
.video-file {

	margin-bottom: 20px;
}